.git
.codex
.cursor
.idea
.nova
.phpunit.cache
.vscode
.zed
node_modules
vendor
public/build
public/hot
storage/logs/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
.env
.env.backup
.env.production
auth.json
*.log
Thumbs.db
